*, div {
    box-sizing: border-box;
    margin: 0;
}

.admin-page {
    min-height: 80vh;
}

.users-section {
    width: 100vw;
}

.users-section h1 {
    text-align: center;
    font-weight: 700;
    margin-top: 1vh;
}