@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts-div {
    width: 100vw;
    min-height: 80vh;
    background-color: rgb(58, 66, 73);
    display: flex;
    justify-content: center;
    padding: 2em 0;
    position: relative;
}

.all-posts {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    position: relative;
}

.posts {
    width: 20vw;
    height: 48vh;
    background-color: rgb(78, 76, 76);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32vh;
}

.image-div {
    width: 20vw;
    height: 25vh;
    border-radius: 1em 1em 0 0;
}

.image-div img {
    width: 20vw;
    height: 25vh;
    border-radius: 1em 1em 0 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit:cover;
    vertical-align: middle;
}

.post-text {
    padding: 0 .5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-span {
    color: rgb(171, 171, 219);
}

.post-text h6 {
    color: rgb(184, 186, 187);
    font-weight: 100;
}

.title {
    color: rgb(219, 225, 231);
    font-weight: 600;
    width: 18vw;
    text-align: start;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.text-field {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.post-detail {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: .3em;
    padding: .5em 0;
}

.time {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.poster-image img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit:cover;
    vertical-align: middle;
}

.poster {
    font-weight: 300;
    color: rgb(221, 221, 221);
}

.post-time {
    color: azure;
    font-weight: 100;
    width: fit-content;    
}

.like-count {
    display: flex;
    gap: .1em;
}

.like-count h5 {
    color: aliceblue;
    cursor: pointer;
}

.msg-img {
    color: white;
    cursor: pointer;
}

.users-comments {
    width: 3vw !important;
}

.comment-div {
    display: flex;
    color: white;
    gap: .1em;
}

.reactions {
    display: flex;
    gap: .5em;
    width: 7vw;
    margin-left: 1em;
}

.replies {
    width: 2.5vw !important;
}

.user-cmt {
    display: none;
    inset: 0 1em ;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
}

.reply-div .reply-msg {
    color: black;
}

.reply-div .reply-to {
    color: rgb(88, 144, 201);
}

.reply-to span {
    color: rgb(83, 197, 197);
}

.reply-div{
    background-color: rgb(107, 103, 103);
    margin: 5vh 0;
    height: 60vh;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-div form {
    height: 50vh;
    width: 28vw;
    display: flex;
    justify-content: center;
}

.reply-div input {
    display: block;
    width: 26vw;
    border-radius: .5em;
    word-wrap: break-word;
    white-space: normal;
    outline: none;
    border: none;
}

.reply-div button {
    width: 25vw;
    outline: none;
    border: none;
    margin: 0 auto;
    font-size: 1.3em;
    color: rgb(78, 76, 76);
    border-radius: 1em;
    background-color: aqua;
}

.show-cmt {
    display: flex;
    justify-content: center;
}

.commenters {
    margin-left: 1em;
}

.comment-section {
    display: flex;
    gap: .5em;
}

.each-cmt h4 {
    color: rgb(231, 223, 223);
}

.each-cmt h5 {
    color: white;
    font-weight: 100;
}

.comment-avatar img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.post-detail button {
    font-size: 1em;
    background-color: rgb(199, 74, 74);
    border: none;
    outline: none;
    padding: .5em;
    border-radius: .5em;
    color: aliceblue;
    cursor: pointer;
}

@media screen and (max-width: 375px){
   .posts-div {
        width: 100vw;
    }

    .posts {
        width: 85vw !important;
        height: 40vh !important;
        display: flex;
    }

    .image-div {
        width: 85vw !important;
    }

    .image-div img {
        width: 85vw !important;
    }

    .post-detail {
        padding: .5em 0;
    } 
    
    .text-field {
        font-size: .8em !important;
    }

    .post-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        width: 80vw !important;
        font-size: .9em !important;
    }

    .split {
        height: 37vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .reply-div{
        background-color: rgb(92, 88, 88);
        margin: 8vh 0;
        height: 50vh;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reply-div .reply-to {
        color: rgb(132, 148, 165);
    }
    
    .reply-div form {
        height: 50vh;
        width: 36vw;
        display: flex;
        justify-content: center;
    }
    
    .reply-div h5 {
        margin: 0 1em;
        color: white;
        font-size: 1em;
    }

    .reply-div .reply-msg {
        color: rgb(14, 1, 1);
    }
    
    .reply-div input {
        display: block;
        width: 36vw;
        border-radius: .5em;
        word-wrap: break-word;
        white-space: normal;
        outline: none;
        border: none;
    }
    
    .reply-div button {
        outline: none;
        border: none;
        margin: .5em auto;
        font-size: .9em;
        color: rgb(78, 76, 76);
        border-radius: 1em;
        background-color: aqua;
    }
}

@media screen and (max-width: 480px) {
    .all-posts .posts {
        width: 80vw !important;
        height: 40vh !important;
    }

    .commenters {
        width: 80vw;
    }

    .posts .split {
        height: 33vh !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .split .image-div {
        width: 80vw !important;
    }

    .split .image-div img {
        width: 80vw !important;
    }

    .title {
        width: 60vw !important;
    }

    .users-comments {
        width: 10vw;
    }

    .reply-div{
        background-color: rgb(92, 88, 88);
        margin: 8vh 0;
        height: 50vh;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reply-div .reply-to {
        color: rgb(132, 148, 165);
    }
    
    .reply-div form {
        height: 50vh;
        width: 36vw;
        display: flex;
        justify-content: center;
    }
    
    .reply-div h5 {
        margin: 0 1em;
        color: white;
        font-size: 1em;
    }

    .reply-div .reply-msg {
        color: rgb(14, 1, 1);
    }
    
    .reply-div input {
        display: block;
        width: 36vw;
        border-radius: .5em;
        word-wrap: break-word;
        white-space: normal;
        outline: none;
        border: none;
    }
    
    .reply-div button {
        outline: none;
        border: none;
        margin: .5em auto;
        font-size: .9em;
        color: rgb(78, 76, 76);
        border-radius: 1em;
        background-color: aqua;
    }
}

@media screen and (max-width: 600px){
   .all-posts {
        gap: 1em;
        column-gap: 1em;
   } 

   .posts {
        width: 45vw !important;
        height: 41vh !important;
   }

   .msg-img {
    height: 1em;
    width: 1em;
   }

   .title {
    width: 60vw;
   }

   .image-div {
    width: 45vw !important;
   }

   .commenters {
    width: 80vw;
   }

   .image-div img{
        width: 45vw !important;
   }

   .split {
    height: 34vh !important;
   }

   .poster-image img {
    width: 3em;
    height: 3em;
   }

   .reactions {
    margin-left: .5em;
   }

   .reply-div{
    background-color: rgb(92, 88, 88);
    margin: 8vh 0;
    height: 50vh;
    width: 70vw;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-div .reply-to {
    color: rgb(132, 148, 165);
}

.reply-div form {
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: center;
}

.reply-div h5 {
    margin: 0 1em;
    color: white;
    font-size: 1em;
}

.reply-div .reply-msg {
    color: rgb(14, 1, 1);
}

.reply-div input {
    display: block;
    width: 36vw;
    border-radius: .5em;
    word-wrap: break-word;
    white-space: normal;
    outline: none;
    border: none;
}

.reply-div button {
    outline: none;
    border: none;
    margin: .5em auto;
    font-size: .9em;
    color: rgb(78, 76, 76);
    border-radius: 1em;
    background-color: aqua;
}
}

@media screen and (max-width: 768px) {
    .all-posts {
        column-gap: 1em;
    }

    .posts {
        width: 40vw;
        height: 41vh;
        gap: 0;
    }

    .users-comments {
        width: 5em !important;
    }

    .title {
        width: 35vw;
        font-size: .9em;
    }

    .text-field {
        font-size: .8em;
    }

    .image-div {
        width: 40vw;
    }

    .split {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 34vh;
    }

    .image-div img {
        width: 40vw;
    }

    .post-detail {
        padding: 0em;
    }

    .poster-image img {
        width: 3em;
        height: 3em;
       }

       .reply-div{
        background-color: rgb(92, 88, 88);
        margin: 8vh 0;
        height: 50vh;
        width: 70vw;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reply-div .reply-to {
        color: rgb(132, 148, 165);
    }
    
    .reply-div form {
        height: 50vh;
        width: 70vw;
        display: flex;
        justify-content: center;
    }
    
    .reply-div h5 {
        margin: 0 1em;
        color: white;
        font-size: 1em;
    }
    
    .reply-div .reply-msg {
        color: rgb(14, 1, 1);
    }
    
    .reply-div input {
        display: block;
        width: 36vw;
        border-radius: .5em;
        word-wrap: break-word;
        white-space: normal;
        outline: none;
        border: none;
    }
    
    .reply-div button {
        outline: none;
        border: none;
        margin: .5em auto;
        font-size: .9em;
        color: rgb(78, 76, 76);
        border-radius: 1em;
        background-color: aqua;
    }
}
@media screen and (min-width: 769px) {
    .all-posts {
        padding: 0 1em;
        gap: 1.5em;
    }

    .posts {
        width: 20em;
        height: 47vh;
        justify-content: space-between;
    }

    .post-detail {
        padding: 0em;
    }


    .users-comments {
        width: 3em !important;
    }

    .title {
        width: 30vw;
        font-size: 1em;
    }

    .image-div {
        width: 20em;
        height: 32vh;
    }

    .image-div img {
        width: 20em;
        height: 32vh;
    }

    .split {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 40.1vh;
    }

    .text-field {
        font-size: .9em;
    }

    .poster-image img {
        width: 3em;
        height: 3em;
    }

       .reply-div{
        background-color: rgb(92, 88, 88);
        margin: 8vh 0;
        height: 50vh;
        width: 30em;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reply-div .reply-to {
        color: rgb(132, 148, 165);
    }
    
    .reply-div form {
        height: 50vh;
        width: 30em;
        display: flex;
        justify-content: center;
    }
    
    .reply-div h5 {
        margin: 0 1em;
        color: white;
        font-size: 1em;
    }
    
    .reply-div .reply-msg {
        color: rgb(14, 1, 1);
    }
    
    .reply-div input {
        display: block;
        width: 25em;
        border-radius: .5em;
        word-wrap: break-word;
        white-space: normal;
        outline: none;
        border: none;
    }
    
    .reply-div button {
        outline: none;
        border: none;
        width: 10em;
        margin: .5em auto;
        font-size: .9em;
        color: rgb(78, 76, 76);
        border-radius: 1em;
        background-color: aqua;
    }
}
@media screen and (min-width: 1025px) {
    .all-posts {
        gap: 1em;
    }

    .posts {
        height: 49vh;
        width: 20em;
    }

    .split {
        height: 41.5vh;
    }

    .title {
        font-size: 1em;
        width: 15em;
    }

    .image-div {
        width: 20em;
        height: 33vh;
    }

    .image-div img {
        width: 20em;
        height: 33vh;
    }
}

@media screen and (min-width: 1280px){
    .all-posts {
        padding: 0 5vw;
        gap: 1.5em;
    }

    .posts {
        height: 49vh;
        width: 20em !important;
    }

    .split {
        height: 41.5vh;
    }

    .title {
        font-size: 1em;
        width: 15em;
    }

    .image-div {
        width: 20em;
        height: 33vh;
    }

    .image-div img {
        width: 20em !important;
        height: 33vh;
    }
}

@media screen and (min-width:1440px){
    .posts {
        width: 23vw;
    }

    .image-div {
        width: 23vw;
    }

    .image-div img {
        width: 23vw;
    }

    .title {
        width: 20vw;
    }
}

@media screen and (min-width: 1536px){
    .posts {
        width: 25em;
    }

    .image-div {
        width: 25em;
    }

    .image-div img {
        width: 25em;
    }

    .title {
        width: 20em;
    }

    .all-posts {
        gap: 2em;
    }

    .text-field {
        width: 22em;
    }
}

