@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts-div {
    width: 100vw;
    min-height: 80vh;
    background-color: rgb(58, 66, 73);
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.all-posts {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.posts {
    width: 20vw;
    height: 48vh;
    background-color: rgb(78, 76, 76);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32vh;
}

.image-div {
    width: 20vw;
    height: 25vh;
    border-radius: 1em 1em 0 0;
}

.image-div img {
    width: 20vw;
    height: 25vh;
    border-radius: 1em 1em 0 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit:cover;
    vertical-align: middle;
}

.post-text {
    padding: 0 .5em;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    color: rgb(219, 225, 231);
    font-weight: 600;
    width: 18vw;
    text-align: start;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.text-field {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.post-detail {
    display: flex;
    height: 8vh;
    margin: .3em;
}

.time {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.poster-image img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit:cover;
    vertical-align: middle;
}

.poster {
    font-size: large;
    font-weight: 300;
    color: rgb(221, 221, 221);
}

.post-time {
    color: azure;
    font-weight: 100;
    width: 6em;    
}

.like-count {
    display: flex;
    gap: .1em;
}

.like-count h5 {
    color: aliceblue;
}

.msg-img {
    color: white;
}

.comment-div {
    display: flex;
    color: white;
    gap: .1em;
}

.comment-div h5 {
    margin-top: -.1em;
}

.reactions {
    display: flex;
    gap: .5em;
}

.user-cmt {
    display: none;
    position: absolute;
    inset: 0vw 0vh;
    background-color: transparent;
}

.user-cmt input {
    width: 25vw;
    height: 50vh;
    outline: none;
    border: none;
    border-radius: 1em;
}

.user-cmt button {
    height: 3em;
    width: 25vw;
    outline: none;
    border: none;
    font-size: 1.3em;
    color: rgb(78, 76, 76);
    border-radius: 1em;
    margin-top: .1em;
}

.show-cmt {
    display: block;
}