@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notif {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: rgb(15, 15, 15);
    margin-top: 2vh;
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.signup .sign-in-img {
    width: 12vw;
    height: 10em;
}

.signup-avatar {
    width: 10em;
}

.inputs {
    width: 28vw;
    display: flex;
    justify-content: space-between;
    margin: .5em;
}

input {
    font-size: 1.2em;
    padding: 0.5em;
    height: 2em;
    outline: none;
    border-radius: .4em;
    border: 1px solid rgb(131, 151, 143);
}

label {
    font-size: 1.2em;
    color: rgb(61, 61, 60);
    margin-top: .3em;
}

.signIn-btn, .google-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .7em;
    width: 30vw;
    font-size: 1.2em;
    background-color: rgb(69, 146, 146);
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5em;
}

input[type='file'] {
    outline: none;
    border: none;
    font-size: 1.5em;
    margin: -.5em 0 .8em .8em;
}

.name-input {
    display: flex;
    justify-content: flex-start;
    gap: 7em;
}

@media screen and (max-width: 375px){
    .signup form {
        width: 85vw !important;
        margin-top: 10vh;
    }

    .signup {
        width: 100vw;
        height: 65vh !important;
    }

    form {
        width: 80vw !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    form .inputs {
        width: 80vw !important;
        margin-bottom: 1em;
    }

    .google-btn, .signIn-btn {
        min-width: 80vw;
        font-size: 1.2em;
        padding: .4em;
        background-color: rgb(69, 146, 146);
        color: aliceblue;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: .5em;
        margin-top: 1em;
        margin-bottom: 0;
    }

    .notif {
        width: 80vw;
        font-size: 1em;
        margin: 0;
    }

    .signup .sign-in-img {
        width: 12vw;
        height: 10em;
    }
}

@media screen and (max-width: 480px){
    .signup {
        width: 100vw;
        height: 65vh;
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .notif {
        margin: 0;
    }

    .signup img {
        width: 5em;
        height: 5em;
        margin: 0 auto;
        margin-bottom: 2vh;
    } 

    form {
        width: 80vw !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    input {
        font-size: 1em;
        padding: 0.5em;
        height: 2em;
        border-radius: .2em;
        width: 60vw;
    }

    .inputs {
        width: 80vw !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    label {
        font-size: 1em;
        color: rgb(61, 61, 60);
        margin-top: .3em;
    }

    input[type='file'] {
        font-size: 1em !important;
    }

    .google-btn, .signIn-btn {
        min-width: 80vw;
        font-size: 1.2em;
        padding: .5em;
        background-color: rgb(69, 146, 146);
        color: aliceblue;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: .5em;
        margin-top: 1em;
        margin-bottom: 0;
    }

    .signup .sign-in-img {
        width: 7em;
        height: 12vh;
        margin: 5vh;
    }
}

@media screen and (max-width:600px){
    .register {
        width: 100vw;
    }
    
    .signup {
        width: 100vw
    }

    form {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .inputs {
        width: 55vw;
    }

    input[type='file'] {
        font-size: 1em !important;
    }

    /* .signIn-btn {
        width: 60vw;
    } */
}