@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.single-post {
    min-height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.featured-post {
    width: 30vw;
    height: 65vh;
    background-color: rgb(78, 76, 76);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.see-comments {
    width: 30vw;
    height: fit-content;
    background-color: rgb(78, 76, 76);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.see-all-comments {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .5em;
    margin-left: .5em;
}

.featured-img img {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.text-detail {
    width: 30vw;
    display: flex;
    height: 25vh;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .5em;
    margin-left: .5em;
}

.titled {
    color: rgb(219, 225, 231);
    font-weight: 600;
    width: 18vw;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    font-size: 1.2em;
}

.text {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 300;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
}

.post-action {
    display: flex;
    gap: .5em;
    margin-top: .5em;
}

.post-action img {
    width: 4em;
    height: 4em;
    border-radius: 1em;
    margin-top: .5em;
}

.poster-detail {
    display: flex;
    justify-content: flex-start;
    gap: 7vw;
    margin-right: 1em;
    margin-bottom: 1em;
}

.edit-icon {
    color: wheat;
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
}

.name {
    display: flex;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
}

.postime {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.action-btn {
    cursor: pointer;
    display: none;
    position: relative;
}

.action-btn h3{
    color: wheat;
}

.show-action {
    display: block;
    margin-top: -.5em;
}

.editing-post {
    display: none;
}

.edit-inputs {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.edit-inputs label {
    color: rgb(195, 198, 201);
}

input[type='file'] {
    outline: none;
    border: none;
    font-size: 1.5em;
    margin: -.5em 0 .8em .8em;
}

.edit-post {
    inset: 8vw 55vh ;
    background-color: rgb(88, 84, 84);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    color: rgb(103, 105, 107);
}

.confirm {
    cursor: pointer;
    display: none;
}

.delete {
    inset: 15vw 70vh ;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(103, 105, 107);
}

.confirm h2 {
    margin: 10vh auto;
}

.delete h2 {
    font-weight: 100;
}

.answer {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    color: rgb(36, 37, 37);
}

.answer h2 {
    padding: .5em;
}

.answer h2:hover {
    background-color: aqua;
    cursor: pointer;
}

.go-back {
    color: aliceblue;
    margin-top: 1em;
    cursor: pointer;
}

.commenters {
    display: flex;
    flex-direction: column;
    margin-bottom: .7em;
}

.commenters .msg-img {
    display: none;
}

hr {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.post-likes {
    display: flex;
    gap: .5em;
    margin-top: .5em;
}