@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.single-post {
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: aliceblue;
}

.featured-post {
    width: 30vw;
    height: fit-content;
    background-color: rgb(78, 76, 76);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.see-comments {
    width: 30vw;
    height: fit-content;
    background-color: rgb(78, 76, 76);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.see-all-comments {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .5em;
    margin-left: .5em;
}

.featured-img img {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.text-detail {
    width: 30vw;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .5em;
    margin-left: .5em;
}

.titled {
    color: rgb(219, 225, 231);
    font-weight: 600;
    width: 25vw;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    font-size: 1.2em;
    margin-left: .3em;
}

.text {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 300;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    margin: 0 .3em;
}

.post-action {
    display: flex;
    gap: .5em;
    margin-top: .5em;
}

.post-action img {
    width: 4em;
    height: 4em;
    border-radius: 1em;
    margin-top: .5em;
}

.poster-detail {
    display: flex;
    justify-content: flex-start;
    gap: 7vw;
    margin-right: 1em;
    margin-bottom: 1em;
}

.edit-icon {
    color: wheat;
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
}

.name {
    display: flex;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
}

.postime {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.notif {
    color: rgb(71, 63, 63)
}

.action-btn {
    cursor: pointer;
    display: none;
    position: relative;
}

.action-btn h3{
    color: wheat;
}

.show-action {
    display: block;
    margin-top: -.5em;
}

.editing-post {
    display: none;
}

.edit-inputs {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.edit-inputs label {
    color: rgb(195, 198, 201);
}

input[type='file'] {
    outline: none;
    border: none;
    font-size: 1.5em;
    margin: -.5em 0 .8em .8em;
}

.edit-post {
    inset: 17vw 42vh !important;
    background-color: rgb(88, 84, 84);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    color: rgb(103, 105, 107);
}

.confirm {
    cursor: pointer;
    display: none;
}

.delete {
    inset: 15vw 53vh ;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(103, 105, 107);
    width: 25vw;
}

.confirm h2 {
    margin: 10vh auto;
}

.delete h2 {
    font-weight: 100;
}

.answer {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    color: rgb(36, 37, 37);
}

.answer h2 {
    padding: .5em;
}

.answer h2:hover {
    background-color: rgb(69, 71, 71);
    color: aliceblue;
    cursor: pointer;
}

.go-back {
    color: aliceblue;
    margin-top: 1em;
    cursor: pointer;
}

.commenters {
    display: flex;
    justify-content: space-between;
    margin-bottom: .7em;
}

.commenters h6 {
    color: aliceblue;
    font-weight: 100;
    margin-right: 2em;
    margin-top: .5em;
}

.commenters .msg-img {
    display: none;
}

hr {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.post-likes {
    display: flex;
    gap: .5em;
    margin-top: .5em;
}

@media screen and (max-width: 375px){
    .poster-detail {
        width: 80vw;
        gap: 3vw; 
    }

    .post-action {
        width: 60vw;
    }

    .post-likes {
        width: 20vw;
    }

    .post-action img {
        width: 3em;
        height: 3em;
    }

    .name {
        font-size: 1em;
    }

    .text-detail {
        margin-left: -1em !important;
    }

    .postime {
        font-size: .6em;
    }

    .go-back {
        font-size: 1em;
    }

    .comments {
        width: 10vw;
    }

    .poster-image {
        width: 15vw;
    }

    .poster-image img {
        width: 15vw;
    }

    .see-comments {
        width: 95vw !important;
    }

    .see-all-comments {
        width: 93vw !important;
    }
    
    .featured-post{
        width: 95vw !important;
    }

    .featured-img img {
        width: 95vw !important;
    }

    .commenters {
        width: 80vw !important;
    }
}

@media screen and (max-width: 480px){
    .single-post .featured-post {
        width: 90vw;
    }

    .single-post .featured-img img {
        width: 90vw;
    }

    .single-post .text-detail {
        width: 85vw;
        margin-left: 0;
    }

    .titled {
        width: 70vw;
        margin-left: 0;
    }

    .text {
        margin-left: 0;
    }

    .single-post .see-comments {
        width: 90vw;
    }

    .single-post .see-all-comments {
        width: 88vw;
        margin-left: 0;
    }

      .poster-detail {
        width: 80vw;
       gap: 10vw; 
    }

    .post-action img {
        width: 3em;
        height: 3em;
    }

    .name {
        font-size: 1.2em;
    }

    .postime {
        font-size: .6em;
    }

    .go-back {
        font-size: 1em;
    }

     .commenters {
        width: 70vw;
    }
}

@media screen and (max-width: 600px){
    .see-comments {
        width: 70vw;
    }
    
    .featured-post {
        width: 70vw;
    }

    .featured-img img {
        width: 70vw;
    }

    .text-detail {
        width: 65vw;
        margin-left: 0;
    }

    .see-all-comments {
        width: 68vw;
    }

    .name {
        font-size: 1em;
    }

    .postime {
        font-size: .6em;
    }

    .post-action img {
        width: 3em;
        height: 3em;
    }

    .go-back {
        font-size: 1em;
    }

    .titled {
        width: 60vw;
    }

     .commenters {
        width: 60vw;
    }
}
@media screen and (min-width: 601px){
    .see-comments {
        width: 60vw;
    }
    
    .featured-post {
        width: 60vw;
    }

    .featured-img {
        height: 45vh;
    }

    .featured-img img {
        width: 60vw;
        height: 45vh;
    }

    .text-detail {
        width: 55vw;
        margin-left: -1.5em;
    }

    .see-all-comments {
        width: 60vw;
    }

    .go-back {
        font-size: 1em;
    }

    .titled {
        width: 55vw;
    }

    .post-action img {
        width: 3em;
        height: 3em;
    }

    .name {
        font-size: 1em;
    }

     .commenters {
        width: 70vw;
    }
}
@media screen and (min-width: 768px){
    .see-comments {
        width: 50vw;
    }
    
    .featured-post {
        width: 50vw;
    }

    .featured-img {
        height: 30vh;
    }

    .featured-img img {
        width: 50vw;
        height: 30vh;
    }

    .text-detail {
        width: 45vw;
        margin-left: -2em;
    }

    .see-all-comments {
        width: 50vw;
    }

    .go-back {
        font-size: 1em;
    }

    .titled {
        width: 45vw;
    }

    .post-action img {
        width: 3em;
        height: 3em;
    }

    .name {
        font-size: 1em;
    }

     .commenters {
        width: 45vw;
    }
}
@media screen and (min-width: 912px){
    .see-comments {
        width: 40vw;
    }
    
    .featured-post {
        width: 40vw;
    }

    .featured-img {
        height: 20em;
    }

    .featured-img img {
        width: 40vw;
        height: 20em;
    }

    .text-detail {
        width: 35vw;
        margin-left: -2em;
    }

    .see-all-comments {
        width: 40vw;
    }

    .titled {
        width: 35vw;
    }

    .postime {
        font-size: .7em;
    }

     .commenters {
        width: 35vw;
    }
}

@media screen and (min-width: 1280px){
    .see-comments {
        width: 35vw;
    }

    .featured-post {
        width: 35vw;
    }

    .featured-img {
        height: 50vh;
        width: 35vw;
    }

    .featured-img img {
        width: 35vw;
        height: 50vh;
    }

     .see-all-comments {
        width: 35vw;
    }

    .text-detail {
        width: 31.5vw;
    }

    .commenters {
        width: 30vw;
    }
}

@media screen and (min-width: 1536px){
    .see-comments {
        width: 30em;
    }

    .featured-post {
        width: 30em;
    }

    .featured-img {
        width: 30em;
    }

    .featured-img img {
        width: 30em;
    }

    .see-all-comments {
        width: 30em;
    }

    .text-detail {
        width: 27em;
    }

    .titled {
        width: 20em;
    }

    .text {
        width: 28em;
    }

    .commenters {
        width: 28em;
    }

    .poster-detail {
        width: 28em;
    }
}