@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.users-post {
    width: 100vw;
    min-height: 80vh;
    display: flex;
}

.users-dashboard {
    width: 35vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5vh;
    align-items: flex-start;
}


.users-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 2em;
}

.users-dashboard img {
    width: 32vw;
    height: 50vh;
    border-radius: 50%;
    margin: 5vh auto;
}

.user-posts {
    background-color: white;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3em;
}

.posters-div {
    width: 25vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
}

.posts-divide {
    width: 25vw;
    background-color: rgb(78, 76, 76);
    border-radius: 1em;
}

.posts-divide img {
    width: 25vw;
    height: 40vh;
    border-radius: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    vertical-align: middle;
    object-fit: cover;
}

.posts-divide h3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(231, 231, 231);
}

.posts-divide h4 {
    font-family: 'Poppins', sans-serif;
    margin: .3em 0;
    color: azure;
}

.posts-divide h5 {
    color: rgb(175, 177, 177);
}

.posters-detail {
    margin: 0 .5em;
    display: flex;
    flex-direction: column;
}

.users-dashboard h2 {
    margin: 0 auto;
}

.users-dashboard span {
    color: rgb(64, 64, 158);
}

@media screen and (max-width:480px) {
    .users-dashboard h2 {
        font-size: 1em;
        width: 70vw;
    }

    .users-dashboard {
        margin-left: 1em;
        width: 70vw;
    }

    .users-post {
        display: flex;
        flex-direction: column;
    }

    .users-dashboard img {
        width: 5em;
        height: 5em;
        margin: 0;
    }

    .users-details {
        margin: 0;
    }

    .users-details h3 {
        font-size: 1em;
    }

    .user-posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        gap: 1em;
        margin-top: 1em;
    }

    .posters-div {
        width: 80vw;
        height: 25em;
        margin-top: 0;
    }

    .posts-divide {
        width: 80vw;
        height: 25em;
    }

    .posts-divide img {
        width: 80vw;
        height: 18em;
    }

    .posters-detail {
        padding-bottom: .5em;
        height: 7em;
    }

    .posters-detail h4 {
        font-size: .8em;
    }
}


