div, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    width: 100vw;
    min-height: 80vh;
    display: flex;
}

.dashboard {
    background-color: grey;
    width: 25vw;
    height: 80vh;
}

.dashboard img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.user-content {
    width: 55vw;
    background-color: bisque;
}