*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 10vh;
    background-color: aqua;
}

.header-menu {
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: rgb(97, 94, 94);
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 3vh 1em;
    gap: 10vw;
}

nav h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(69, 71, 73);
}

nav button {
    height: 2em;
    font-size: 1.5em;
    border: none;
    background: transparent;
    margin-top: -.5em;
    cursor: pointer;
}