@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: aqua;
}

.header-menu {
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: rgb(97, 94, 94);
}

.header a {
    text-decoration: none;
    color: rgb(82, 82, 199);}

nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 3vh 1em;
}

.users-btn {
    color: rgb(114, 118, 121);
    cursor: pointer;
    font-size: 1em;
}

.welcome span {
    cursor: pointer;
    color: rgb(20, 149, 235);
    font-family: 'Poppins', sans-serif;
}

.desc {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.post-links {
    display: flex;
}

nav h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(69, 71, 73);
}

nav button {
    height: 2em;
    font-size: 1.5em;
    border: none;
    background: transparent;
    margin-top: -.5em;
    cursor: pointer;
}

@media screen and (max-width: 375px){
    .logged-in h3 {
        font-size: .6em;
    }

    .logged-in .users-btn {
        font-size: .5em;
    }

    nav .desc {
        font-size: .5em;
    }

    nav a {
        font-size: .8em;
    }

    .logged-in button {
        font-size: .6em;
    }

    .logged-in .welcome {
        font-size: .5em;
    }
}

@media screen and (max-width: 414px){
    .header {
        width: 100vw;
    }
    
    .logged-in {
        width: 100vw;
    }

    .header-menu {
        width: 1em;
        height: 1em;
    }

    nav h3 {
        font-size: .65em;
    }
    
    nav button {
        font-size: .8em;
    }

    nav {
        padding: 3vh .2em;
    }

    .users-btn {
        font-size: .5em;
    }

    .welcome {
        font-size: .6em;
    }

    .desc {
        text-align: center;
        font-size: .6em;
    }
}

@media screen and (max-width: 480px){
   nav h3 {
    font-size: .7em;
   } 

   .users-btn {
    font-size: .6em;
   }

   nav button {
    font-size: .8em;
   }

   .welcome {
    font-size: .6em;
   }

   .desc {
    font-size: .6em;
   }

   nav span  {
    font-size: 1em;
   }
}

@media screen and (max-width: 600px){
    .users-btn {
        font-size: .7em;
    }

    .desc {
        font-size: .7em;
        text-align: center;
    }

    .welcome {
        font-size: .7em;
    }

    nav a {
        font-size: .7em;
    }

    nav button {
        font-size: .8em;
    }
}

@media screen and (min-width: 600px){
    nav .header-menu {
        display: none;
    }

    .welcome {
        font-size: 1.2em;
    }

    .post-links {
        display: flex;
        gap: .5em;
    }

    .post-links h3 {
        font-size: 1.2em;
    }
}
