@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-menu {
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: rgb(97, 94, 94);
    visibility: hidden;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.welcome span {
    cursor: pointer;
    color: rgb(82, 82, 199);;
    font-family: 'Poppins', sans-serif;
}

.desc {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: rgb(73, 66, 66);
}

nav h3 {
    font-size: 1.2em;
    font-weight: 600;
}

.show-links {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.header a {
    font-size: 1em;
    text-decoration: none;
    color: rgb(82, 82, 199);
}

nav button {
    height: 2em;
    font-size: 1.5em;
    border: none;
    background: transparent;
    margin-top: -.5em;
    cursor: pointer;
    color: rgb(82, 82, 199)
}

@media screen and (max-width: 375px){    
    .logged-in h3 {
        font-size: .6em;
    }

    .header-menu {
        width: 1.5em !important;
        height: 1.5em !important;
        cursor: pointer;
        color: rgb(97, 94, 94);
        visibility: visible;
    }

    .logged-in .desc {
        width: 60vw !important;
        font-size: .6em !important;
    }

    nav a {
        font-size: .8em;
    }

    .logged-in button {
        font-size: .7em;
    }

    .logged-in .welcome {
        font-size: .6em !important;
    }

    .show-links {
        display: none;
    }

    .show-links a {
        font-size: 1em;
    }

    .show-sidebar {
        margin-top: 1em;
        padding-top: 1em;
        padding-left: .5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
        width: 50vw;
        background-color: rgb(236, 238, 240);
        position: absolute;
        height: 30vh;
        border-radius: .2em;
        z-index: 10;
    }
}

@media screen and (max-width: 414px){
    .header {
        width: 100vw;
    }
    
    .logged-in {
        width: 100vw;
        gap: .2em;
    }

    .header-menu {
        width: 1.2em !important;
        height: 1.2em !important;
        cursor: pointer;
        color: rgb(97, 94, 94);
        visibility: visible;
    }

    nav h3 {
        font-size: .65em;
    }
    
    nav button {
        font-size: .8em;
    }

    nav {
        padding: 3vh .2em;
    }

    .logged-in .welcome {
        font-size: .6em;
    }

    .logged-in .desc {
        text-align: center;
        font-size: .6em;
        width: 55vw;
    }

    .show-links {
        display: none;
    }

    .show-links a {
        font-size: 1.1em;
    }

    .show-sidebar {
        margin-top: 1.2em !important;
        padding-top: 1em;
        padding-left: .5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
        width: 50vw;
        background-color: rgb(236, 238, 240);
        position: absolute;
        height: 30vh;
        border-radius: .2em;
        z-index: 10;
    }
}

@media screen and (max-width: 480px){
   nav h3 {
    font-size: .7em;
   } 

   .header-menu {
       width: 1.5em !important;
       height: 1.5em !important;
       cursor: pointer;
       color: rgb(97, 94, 94);
       visibility: visible;
   }

   nav button {
    font-size: .8em;
   }

   .logged-in .welcome {
    font-size: .8em;
   }

   .logged-in .desc {
    font-size: .8em;
    width: 55vw;
   }

   .show-links {
       display: none;
   }

   .show-links a {
       font-size: 1.1em;
   }

   .show-sidebar {
       margin-top: 1.5em;
       padding-top: 1em;
       padding-left: .5em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       gap: 1em;
       width: 50vw;
       background-color: rgb(236, 238, 240);
       position: absolute;
       height: 30vh;
       border-radius: .2em;
       z-index: 10;
   }
}

@media screen and (max-width: 600px){
    .desc {
        font-size: .9em;
        width: 50vw;
        text-align: center;
    }

    .header-menu {
       width: 1.5em;
       height: 1.5em;
       cursor: pointer;
       color: rgb(97, 94, 94);
       visibility: visible;
   }

    .welcome {
        font-size: .9em;
    }

    nav a {
        font-size: .7em;
    }

    nav button {
        font-size: .9em;
    }

    .show-links {
       display: none;
   }

   .show-links a {
       font-size: .9em;
   }

   .show-sidebar {
       margin-top: 1.5em !important;
       padding-top: 1em !important;
       padding-left: .5em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       gap: 1em;
       width: 50vw;
       background-color: rgb(236, 238, 240);
       position: absolute;
       height: 30vh;
       border-radius: .2em;
       z-index: 10;
   }
}

@media screen and (max-width: 768px){
    .show-links {
       display: none;
   }

   .show-links a {
       font-size: .9em;
   }

   .header-menu {
       width: 2em;
       height: 2em;
       cursor: pointer;
       color: rgb(97, 94, 94);
       visibility: visible;
   }

   .show-sidebar {
       margin-top: 2em;
       padding-top: 2em;
       padding-left: .5em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       gap: 1em;
       width: 50vw;
       background-color: rgb(236, 238, 240);
       position: absolute;
       height: 30vh;
       border-radius: .2em;
       z-index: 10;
   }

    .desc {
        width: 50vw;
        text-align: center;
    }

    .welcome {
        font-size: 1em;
    }

    nav a {
        font-size: .7em;
    }

    nav button {
        font-size: 1em;
    }
}


